body {
  background-color: #244258;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

/*
.list-group-item*/

.nomeCognome {
  color: black;
}

.chat {
  color: black;
}

.separatore {
  color: black;
}

.receiver {
  position: absolute;
  right: 0;
}

.coloreAttivo {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.coloreMe {
  background-color: gainsboro;
  border-color: gainsboro;
}

.coloreMEEEEE {
  color: black;
}

.pointer {
  cursor: pointer;
}

.white {
  color: white;
}

.bg-not-white {
  background-color: #ffffffeb !important;
}

.container1 {
  width: 60%;
  margin-left: 20%;
  margin-top: 4%;
}
