<div class="container1" #first (scroll)="scroll()">
  <div class="menuBurger" (click)="open=!open" *ngIf="!open">
    <div class="menuLine"></div>
    <div class="menuLine"></div>
    <div class="menuLine"></div>
  </div>
  <div class="navbar">
    <img src="../../../assets/logo.png">
  </div>
  <div class="overlay">
    <p class="slogan">Lascia un'impronta<br> nel tempo</p>
  </div>
  <video #videoPlayer autoplay muted loop>
    <source src="../../../assets/landing-video.mp4" type="video/mp4">
  </video>
</div>
<div class="container1-descrizione" #second>
  <p class="descrizione">"Crediamo che tu sia unico e che la tua storia <br>non dovrebbe mai svanire nel nulla.
    Raccontami la tua vita, <br>le tue passioni e le tue avventure, io manterro' viva per sempre la tua memoria"</p>
</div>
<div class="container1-descrizione" #third>
  <p class="aboutUs">About Us: <br>"Attraverso la nostra avanzata tecnologia di clonazione della coscienza, permettiamo
    ai tuoi cari <br>di mantenere un dialogo significativo con te anche dopo la tua scomparsa. <br>ME ti offre
    l'opportunità di lasciare un'eredità duratura, un punto di riferimento per i tuoi affetti, dove le parole<br> e i
    ricordi continueranno a fluire, creando connessioni che superano la barriera tra il presente e il passato. <br> La
    nostra missione è quella di preservare il tuo spirito e la tua saggezza per le generazioni future, <br>offrendo un
    senso di continuità e conforto ai tuoi cari nel momento del distacco. Unisciti a noi in questa avventura<br> verso
    l'eternità, dove i legami familiari e le conversazioni significative non conoscono limiti di tempo" </p>
</div>
<div class="openLogin" *ngIf="open"><span (click)="open= !open" class="ics material-symbols-outlined">
    close
  </span>
  <p>LOGIN</p>
  <p (click)="changePage()">ACCEDI</p>
</div>
